<div class="base-container mw-xl">
  <div class="container-fluid">
    <div class="row">
      <% @movies.each.with_index(1) do |movie, i| %>
        <div class="col-12 col-md-6 col-lg-4">
          <%# <div class="card-border-dark mb-3"> %>
          <div class="card border-dark mb-3">
            <div class="card-header p-0">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="<%= movie.url %>"></iframe>
              </div>
            </div>
            <div class="card-body text-dark movie-body">
              <p id="watched-movie-<%= movie.id %>">
                <% if @watched_movie_ids.include?(movie.id) %>
                  <%# if movie.watched_by?(current_user) %>
                  <%= render "watched_movie", movie: movie %>
                <% else %>
                  <%= render "unwatched_movie", movie: movie %>
                <% end %>
              </p>
              <p class="card-text movie-title">
                Lv.<%= i %> ：
                <%= movie.title %>

              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <nav aria-label="Page navigation">
    <!-- ul要素へjustify-content-centerクラスを追加する -->
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/movies#">1</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/movies?page=2">2</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/movies?page=3">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
