<%# 検索機能 %>

<%= search_form_for @q do |f| %>
<%= f.text_field :title_cont ,placeholder: '教材を探す' %>
<%= f.submit "検索"%>
</form>

<% end %>

<h1>テキスト教材</h1>

  <div class="row">
    <% @texts.each.with_index(1) do |text , i| %>
      <div class="col-12 col-md-6 col-lg-4 text-card-container">
        <div class="card content-card border-dark mb-3">
          <%= link_to text, target: :_blank, class: "text-decoration-none text-dark" do %>
            <div class="card-header p-0">
              <img src="https://d5izmuz0mcjzz.cloudfront.net/texts/no_image.jpg" class="img-fluid" >
            </div>
            <div class="card-body">
              <div id="button-plan">
                <p>ボタン予定地（ボタン実装時にここを編集してください）</p>
              </div>
              <p class="card-text txet-title">
                <%= text.title %>
              </p>
              <p><%= text.genre %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
